@use "../../assets/sass/resets.scss" as *;
@use "../../assets/sass/variables.scss" as *;
@use "../../assets/sass/fonts.scss" as *;
@use "../../assets/sass/components.scss" as *;

.course-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color-dark-blue;
  padding: 1em;

  &__header {
    font-size: $header-h2-font-size;
    color: $color-white;
    margin: 1rem 0;
  }

  &__content {
    color: $color-white;
    padding-bottom: 5rem;
  }

  & > p {
    margin: 0.5rem 0;
  }
}
