@use "../../assets/sass/variables.scss" as *;
@use "../../assets/sass/fonts.scss" as *;
@use "../../assets/sass/components.scss" as *;

.course-card {
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color-dark-blue;
  min-height: 340px;

  &__header {
    font-size: $header-h2-font-size;
    color: $color-dark-blue;
    height: 40%;
    background-color: $color-white;
    padding: 0.5em;
  }

  &__content {
    color: $color-white;
    padding: 1em;
  }

  & > p {
    margin: 0.5rem 0;
  }

  &__btn {
    padding: 1em;
    margin: 1rem;
  }
}
