@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/variables" as *;

.course-details {
  @include mobile;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__content {
    background-color: $color-dark-blue;
    padding: 3em;
    color: $color-white;
    margin: 2rem 0;
    border-radius: $border-radius;
  }

  &__btn {
    align-self: flex-end;
  }
}
