@use "../../assets/sass/variables.scss" as *;

.search {
  display: flex;

  &__input {
    width: 100%;
    background-color: $color-light-aqua;
    padding: 0.7rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: bold;

    font-family: inherit;
    font-size: 1rem;
  }
}
