@use "../../assets/sass/mixins" as *;

.form-submitted {
  @include mobile;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__text {
    margin: 1rem 0;
  }
}
