* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  background-color: #52b69a;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

input,
button,
a {
  all: unset;
}
